<% if defined?(@context) && !@context.blank? %>
<div class="clear">
    <nav aria-label="<%= I18n.t('navigation.hierarchical') %>">
      <ul class="breadcrumb">
	<% @context.each do |bread| %>
	<% if bread[:crumb]; crumb = bread[:crumb]; crumb += " (#{bread[:identifier]})" if bread[:identifier] %>


	  <% if bread[:uri].blank? %>
	  <a>
	  <li>
		<%= badge_for_type(bread[:type]) %>
	    <%= process_mixed_content(crumb).html_safe %>
		</li>
		</a>
	  <% else %>
	    <a href='<%=app_prefix(bread[:uri]) %>'>
		<li>
		<%= badge_for_type(bread[:type]) %>
		<%= process_mixed_content(crumb).html_safe %>
		</li>
	    </a>
	  <% end %>
	<% end %>
	<% end %>
      </ul>
    </nav>
</div>
<% end %>
