<div class="search-wrapper">
	<div class="row search-inner">
      <div class="logo-wrapper">
          <a href="/" alt="Finding Aids Home">
              <img class="logo" src="/assets/images/new_fa5_white.png" alt="Finding Aids Archival Collections at Hagley Museum and Library">
              <h1>Finding Aids</h1>
            </a>
      </div>
<div class="search" role="search">
  <a name="search" id="search"></a>
  <% @search = Search.new unless defined?(@search) %>
  <%= form_tag(app_prefix("#{search_url}"), method: 'get', :id => 'advanced_search') do %>
  <% (0...[1, @search.q.length].max).each do |i| %>
  <div class="row search_row" id="search_row_<%= i %>">
    <div class="col-sm-1 bool form-group form-inline">
      <%= label_tag("op#{i}", t('advanced_search.operator_label')) %>
      <%= select_tag('op[]', options_for_select(Search.get_boolean_opts, @search[:op][i]), disabled: (i == 0), :id => "op#{i}",:class=> 'form-control' + (i == 0 ? ' hidden' : '')) %>
      <%= hidden_field_tag('op[]','', :id => 'op_') if i == 0 %>
    </div>
    <div class="search-sm form-group form-inline">
      <%= label_tag(:"q#{i}", t('navbar.search_placeholder'),:class => 'sr-only repeats') %>
      <%= text_field_tag('q[]', @search[:q][i], :placeholder =>  t('navbar.search_placeholder'), :id => "q#{i}",
                         :class=> 'form-control repeats fill-column js-search-box') %>
    </div>

    <div class="search-field-select form-inline form-group">
      <%= select_tag('field[]', options_for_select(field_options, @search[:field][i]), :id=> "field#{i}", :class=> 'form-control repeats') %>
    </div>

      <div class="norepeat form-group form-inline" id="submit_div">
      <%= submit_tag(t('search-button.label'), :class=>'btn btn-primary', :id => 'submit_search') %>
  </div>

  </div>
  <% end %>

  <% end %>
</div>
</div>
<script type="text/javascript" >initialize_search();</script>
