<%
  indent_level = @result.raw.fetch('ancestors', []).length
%>
<% if indent_level == 0 %>
<div class="infinite-item infinite-item-indent-<%= indent_level %>">
  <div class="information" style="overflow: hidden;">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => false} } %>
  </div>
  <div class="infinite-desc-inner">
  <% scopecontent_note = @result.note('scopecontent') %>
  <% if scopecontent_note && !inherited?(scopecontent_note) %>
    <%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct => scopecontent_note, :notitle => false} %>
  <% end %>

  <dl class="dl-horizontal">

    <% accessrestrict_note = @result.note('accessrestrict') %>
    <% if accessrestrict_note && !accessrestrict_note['note_text'].blank? && !inherited?(accessrestrict_note)  %>
      <dt><%= accessrestrict_note['label'] %>: </dt>
      <dd>
        <%= render partial: 'shared/single_note', locals: {:type => 'accessrestrict', :note_struct => accessrestrict_note, :notitle => true} %>
      </dd>
    <% end %>

    <% unless @result.dates.blank? || all_inherited?(@result.dates) %>
        <dt><%= t('resource._public.dates') %>: </dt>
        <% @result.dates.each do |date| %>
        <dd>
          <%= inheritance(date['_inherited']).html_safe %>
          <%= date['final_expression'] %>
        </dd>
        <% end %>
    <% end %>

    <% unless @result.extents.blank? || all_inherited?(@result.extents) %>
        <dt><%= t('resource._public.extent') %>: </dt>
        <% @result.extents.each do |extent| %>
          <dd>
            <%= inheritance(extent['_inherited']).html_safe %>
            <%= extent['display']%>
          </dd>
        <% end %>
    <% end %>

     <% physdesc_note = @result.note('physdesc') %>
    <% if physdesc_note && !physdesc_note['note_text'].blank? %>
      <dt><%= physdesc_note['label'] %>: </dt>
      <dd>
        <%= render partial: 'shared/single_note', locals: {:type => 'physdesc', :note_struct => physdesc_note, :notitle => true} %>
      </dd>
    <% end %>

    <% unless @result.agents.blank? || all_inherited?(@result.agents.collect(&:last).flatten) %>
      <dt><%= t('pui_agent.related') %>: </dt>
        <% @result.agents.collect(&:last).flatten.each do |relationship| %>
          <dd>
            <%= link_to relationship.fetch('_resolved').fetch('title'), app_prefix(relationship.fetch('ref')) %>
          </dd>
        <% end %>
    <% end %>

    <% if @result.lang_materials %>
      <% @result.lang_materials.reject { |lm| inherited?(lm) }.each do |lang_material| %>
        <dt><%= t('resource._public.lang')%>: </dt>
        <dd><%= t('enumerations.language_iso639_2.' + lang_material['language']) %></dd>
        <% unless lang_material['script'].blank? %>
          <dt><%= t('resource._public.script')%>: </dt>
          <dd><%= t('enumerations.script_iso15924.' + lang_material['script']) %></dd>
        <% end %>
      <% end %>
    <% else %>
      <% langmaterial_note = @result.note('langmaterial') %>
      <% if langmaterial_note && !langmaterial_note['note_text'].blank? && !inherited?(langmaterial_note) %>
        <dt><%= t('resource._public.lang')%>: </dt>
        <dd>
          <%= render partial: 'shared/single_note', locals: {:type => 'langmaterial', :note_struct => langmaterial_note, :notitle => false} %>
        </dd>
      <% end %>
    <% end %>
  </dl>
  </div>
</div>
<%# start component body%>
<% else %>
<div class="infinite-item infinite-item-indent-<%= indent_level %>">
  <div class="information" style="overflow: hidden;">
      <%= render partial: 'shared/idbadge', locals: {:result => @result, :props => { :full => false} } %>
  </div>
  <div class="infinite-desc-inner">
  <% scopecontent_note = @result.note('scopecontent') %>
  <% if scopecontent_note %>
	  <div class="infinite-abstract"><%= render partial: 'shared/single_note', locals: {:type => 'abstract', :note_struct => scopecontent_note, :notitle => true} %></div>
  <% end %>

  <dl class="dl-horizontal component">

    <% unless @result.dates.blank? %>
	<dd class="inifinite-date"> <% @result.dates.each do |date| %>
          <%= date['final_expression'] %>.
  <% end %></dd>
    <% end %>

     <% physdesc_note = @result.note('physdesc') %>
    <% if physdesc_note && !physdesc_note['note_text'].blank? %>
      <dd class="infinite-physdesc">
        <%= render partial: 'shared/single_note', locals: {:type => 'physdesc', :note_struct => physdesc_note, :notitle => true} %>
      </dd>
    <% end %>

  </dl>
  </div>
</div>
<% end %>
